
@import "bootstrap/scss/functions.scss";
@import "style";
@import "bootstrap/scss/bootstrap.scss";

:root {  
  border: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #da722c;
  cursor: pointer;
  transition: border-color 0.75s;
}
button:hover {
  border-color: #f4f82c;
}
